<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" 
         connectionString="Data Source=.;
         Initial Catalog =AddressList;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key ="DbPath" value="D:\AddressList.mdb"/>
    <!--<add key="DAL"  value="SQLDAL"/>-->
     <add key="DAL" value="AccessDAL"/>
  </appSettings>
</configuration>